@font-face {
  font-family: 'iconfont';  /* project id 404435 */
  src: url('http://at.alicdn.com/t/font_404435_zzx94yh733c2qpvi.eot');
  src: url('http://at.alicdn.com/t/font_404435_zzx94yh733c2qpvi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_404435_zzx94yh733c2qpvi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_404435_zzx94yh733c2qpvi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_404435_zzx94yh733c2qpvi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:12px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont1{
    font-family:"iconfont" !important;
    font-size:14px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont2{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
#head{
	width: 100%;
	height: 32px;
	background-color: #999;
}
.head-neikuan{
	width: 1230px;
	height: 32px;
	background-color: #999;
	margin: 0 auto;
}
.head-left{
	height: 32px;
	float: left;
}
.head-wenzi{
	float: left;
	line-height: 32px;
	font-size: 12px;
	color: gray;
}
.head-wenzi1{
	margin-left: 20px;
}
.head-right{
	height: 32px;
	float: right;
}
.head-wenzi2{
	float: left;
	line-height: 32px;
	font-size: 12px;
	color: gray;
	margin-left: 13px;
}
.sousuo{
	width: 100%;
	height: 130px;
	background-color: #999;
}

.sousuo-neikuan{
	width: 1230px;
	height: 130px;
	background-color: #999;
	margin: 0 auto;
}
.sousuo-left{
	width: 240px;
	height: 130px;
	float: left;
}
.sousuo-right{
	width: 628px;

	background-color:gray;
	height: 130px;
	
	margin: 0 auto;
	/* overflow: hidden; */
}

#biaotilan{
	width: 100%;
	height: 36px;
	background-color: #ff0036;
}
.biaotilan-neikuan{
	width: 1230px;
	height: 36px;
	margin: 0 auto;
}
.biaotilan-neikuan-left{
	width: 200px;
	height: 36px;
	background-color: #e22127;
	float: left;
}
.biaotilan-neikuan-left-wenzi{
	font-size: 16px;
	color: white;
	margin-left: 14px;
	line-height: 36px;
}
.biaotilan-neikuan-right{
	height: 36px;
	background-color: #ff0036;
	float: left;
}
.biaotilan-neikuan-right-wenzi{
	font-size: 16px;
	color: white;
	margin-left: 30px;
	line-height: 36px;
	float: left;
}
.banner-neikuan{
	width: 1230px;
	height: 500px;
	background-color: rgb(0, 0, 0);
	margin: 0 auto;
    position: relative;
    
}
.banner-neikuan-img{
	width: 1230px;
	height: 500px;
}
.banner-neikuan-list{
	width: 172px;
	height: 500px;
	background-color: rgba(227, 225, 225, 0.6);
	position:absolute;
    left: 0;
	top: 0;
	padding: 0 14px;
}
.banner-neikuan-list-box{
	width: 172px;	
	height: 31.25px;	
	padding: 0 14px;
}
.banner-neikuan-list-box:hover{

	background-color: orangered;
	
}
.banner-neikuan-list-box-wenzi{
	font-size: 14px;
	color: black;
	line-height: 31.25px;
}
.banner-lunbodian{
	width: 110px;
	height: 10px;
	/* background-color: pink; */
	position: absolute;
	bottom: 20px;
	right: 571px;
}
.banner-lunbodian-1{
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius:50%; 
	border: 2px gray solid;
	float: left;
}
.banner-lunbodian-2{
	margin-left: 10px;
	float: right;
}
#mpzhanshi{
	width: 1230px;
	height: 436px;
	background-color: #f5f5f5;
	
	margin: 0 auto;
	margin-top: 60px;
}
.mpzhanshi-left{
	width: 488px;
	height: 436px;
	background-color: gray;
	float: left;

}
.mpzhanshi-right{
	background-color: #f5f5f5;
    margin-right: -1px;
    width: 732px;
    height: 436px;
    float: right;
    position: relative;
}
.mpzhanshi-right-box{
	width: 121px;
	height: 108px;
	float: left;
	background-color: gray;
}
#chaoliu{
	width: 1230px;
	height: 477px;
	background-color: gray;
	margin: 0 auto;
	margin-top: 30px;
}
.chaoliu-box{
	width: 238px;
	height: 476px;
	float: left;background-color: gold;
	border-bottom: 1px solid;
}
.chaoliu-box1{
	margin-left: 10px;
}
.chaoliu-box-top{
	width: 238px;
	height: 36px;
	background-color: red;
	font-size: 18px;
	color: white;
	line-height: 36px;
	text-align: center;
}
.chaoliu-box-center{
	width: 238px;
	height: 220px;
	background-color: #145;
    overflow: hidden;
}
.chaoliu-box-center h1{
	font-size: 24px;
	margin-top: 20px;
	color: black;
	text-align: center;
	line-height: 24px;
}
.chaoliu-box-center h2{
	font-size: 14px;
	margin-top: 6px;
	color: gray;
	text-align: center;
	line-height: 14px;
}
.chaoliu-box-center img{
	width: 140px;
	height: 140px;
	background-color: #412;
	margin-left:49px;
	margin-top: 6px;
}
.ing-gd{
	width: 100%;
	height: 90px;
	background-color: red;
}
#mlrs{
	width: 1230px;
	height: 470px;
	background-color: pink;
	margin: 0 auto;
	margin-top: 30px;
}
.mlrs-top{
	width: 1230px;
	height: 30px;
	background-color: white;
}
.
.mlrs-top-zuo{
	width: 400px;
	height: 30px;
	background-color: skyblue;
	float: left;
}
.mlrs-top-zuo i{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	line-height: 30px;
	float: left;
}
.mlrs-top-zuo h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	line-height: 24px;
	margin-left: 10px;
	float: left;
}
.mlrs-top-zuo h2{
	font-size: 14px;
	font-weight: lighter;
	color: #333;
	line-height: 30px;
	margin-left: 10px;
	float: left;
}
.mlrs-top-you{
	height: 30px;
	background-color: white;
	float: right;
}
.mlrs-top-you-wz{
	font-size: 14px;
	color: #333;
	font-weight: lighter;
	float: left;
	line-height: 30px;
	margin: 0px 10px;
}
.mlrs-bottom{
	width: 1230px;
	height: 440px;
	background-color: blue;
}
.mlrs-bottom-zuo{
	width: 246px;
	height: 440px;
	background-color: yellowgreen;
	float: left;
}
.mlrs-bottom-zuo-img{
	width: 246px;
	height: 330px;
	background-color: hotpink;

}
.mlrs-bottom-zuo-x{
	width: 246px;
	height: 90px;
	background-color: skyblue;
}
.mlrs-bottom-zuo-x h1{
	font-size: 22px;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin-top: 20px;
}
.mlrs-bottom-zuo-x h2{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	text-align: center;
}
.mlrs-bottom-you{
	width: 735px;
	height: 440px;
	background-color: lightpink;
	float: left;
}
.mlrs-bottom-you-1{
	width: 244px;
	height: 219px;
	background-color: whites;
	float: left;
	margin: 0px 1px 1px 0px;
	position: relative;
}
.mlrs-bottom-you-1 h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	margin-top: 25px;
	margin-left: 15px;
	position: absolute;
}
.mlrs-bottom-you-1 h2{
	font-size: 14px;
	font-weight: lighter;
	color: #333;
	margin-left: 15px;
	margin-top: 50px;
	position: absolute;
}
.mlrs-bottom-you-1-img{
	width: 154px;
	height: 154px;
	background-color: pink;
	float: right;
	margin-top: 65px;
}
.mlrs-bottom-right{
	width: 248px;
	height: 440px;
	background-color: red;
	float: right;
}
.mlrs-bottom-right-1{
	width: 248px;
	height: 146px;
	background-color: pink;
	margin-bottom: 1px;
	position: relative;
}
.mlrs-bottom-right-1 h1{
	font-size: 18px;
	font-weight: lighter;
	color: #333;
	margin-top: 25px;
	margin-left: 15px;
	position: absolute;
}
.mlrs-bottom-right-1 h2{
	font-size: 14px;
	font-weight: lighter;
	color: #333;
	margin-left: 15px;
	margin-top: 50px;
	position: absolute;
}
.mlrs-bottom-right-1-img{
	width: 100px;
	height: 100px;
	background-color: yellowgreen;
	float: right;
	margin-top: 46px;
}
.mlrs-bottom-right-2{
	margin-bottom: 0px;
}
.like-top{
    width:1230px;
    height:54px;
    margin:0 auto;
}
.like-top-box{
    width:210px;
    height:54px;
    margin:0 auto;
    text-align: center;
    display: flex;
    line-height: 54px;
}

.like-top-left{
    margin-top:26px;
    width:38px;
    height:1px;
    background: #4e4e4e;
    margin-right:10px;
}
.like-top-center{
    margin-left: 10px;
}
.like-top-right{
    margin-top:26px;
    width:38px;
    height:1px;
    background: #4e4e4e;
    margin-left:10px;
}
.like-bottom-box{
    width:1230px;
    height:333px;
    margin:0 auto;
    display: flex;
    padding-bottom:4px;
    justify-content: space-between;
    margin-bottom:7px;
}
.like-neirong{
    width:239px;
    height:319px;
    background:#fff;
 /*    float: left; */
}
.like-neirong-img{
    width: 235px;
    height: 235px;
    background:orange;
}
.like-neirong-wz1{
    width: 207px;
    height: 35px;
    font-size: 13px;
    line-height: 18px;
    color: #666;
    margin:12px auto 8px;
}
.like-neirong-wz2{
    width: 207px;
    height: 33px;
    line-height: 22px;
    margin: 2px auto 0;
    font-size: 16px;
    color: red;
}